*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
body{
    margin: 100px;
    font-family:serif;
    
}
#searchbox{
    width: 45%;
    margin: auto;
   
}
#searchbox input,button{
    width: 75%;
    border: 2px solid gainsboro;
    border-right: 0px;
    font-size: 20px;
    padding: 12px;
    background:silver;
    color: black;
    font-weight: bold;
    border-radius: 5px 0 0 5px;
}
#searchbox button{
    width: 25%;
    float: right;
    border-left: 0px;
    border-radius: 0 5px 5px 0;
    background: red;
    color: white;
    border: 2px solid red;
}
#mealList{
    
    align-items: center;
    margin: 100px ;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap:20px;
    width: 100px;
    padding-left: 10px;
}
.meal{
    border:2px solid black;
    border-radius: 10px;
    text-align: center;
    width:100%;
}
.meal img{
    width: 200px;
}
.meal p{
    background: gray;
    color: white;
    padding: 4px 0px;
    height: 50px;
    font-size: 21px;
}
button{
    background:none ;
    border:none;
    color: white;
}
#upadanDetail{
    
    align-items: center;
    margin: 100px 500px 70px 500px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap:20px;
    width: 100px;
    padding-left: 10px;
}
.details{
    border:2px solid black;
    border-radius: 10px;
    text-align: center;
    width:100%;   
}
.details img{
    width: 200px;
}
.details p{
    background: gray;
    color: white;
    padding: 4px 0px;
    height: 50px;
    font-size: 21px;
}
.opadan-class{
    background-color: black;
    color: white;
}